.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: inline;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }

  .containerr {
    position: relative;
    color: white;
    
  }

  .image{

    width: 150px;
    margin: 5px 5px 5px 0px;
    
  }

  .article{
    float:left;
  }

  .bottom-right {
    position: absolute;

    bottom: 5%;
    
    left: 0%;
    
    font-size: 13px;
    
    font-weight: bold;
    
    background-color: red;
    
    color: white;
  }

 h1{
    text-align: center;
  }