

<!-- Toolbar -->
<div class="toolbar-navebare" >
  <nav style="align-items: centre ;">
    <a> {{title}} </a>
    <span class="spannav">
    <a routerLink="/Home" routerLinkActive="active"> Home </a>
    <a routerLink="/Articles" routerLinkActive="active"> Articles</a>
    <a routerLink="/Orders" routerLinkActive="active"> Orders  <div  class="ordersNumbers">  {{ordersNumber}} </div> </a>
    <a routerLink="/Articles" routerLinkActive="active" *ngIf="!loged" (click)="togelfunction()"> Log In </a>
    <a routerLink="/Home"  *ngIf="loged" (click)="togelfunction()"> Log Out </a>
    </span>
  </nav>
  <router-outlet></router-outlet>
</div>

